body
{ background-color: rgb(128, 71, 13);
  
        font-family: 'Times New Roman', Times, serif, sans-serif;
        font-size: large;
        margin: 0;
        padding: 0;
        
    }

header {
    background-color: #553009;
    color: white;
    padding: 1em 0;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}

.logo img {
    max-height: 70px; /* Ограничаваме височината на логото */
    margin-left: 30px; /* Добавяме разстояние от ляво */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 10px; 
   
}

nav ul li a:hover {
    color: #c2610c; /* Промяна на текста при задържане на мишката */
}

.image {
    position: relative;
    width: 100%;
    max-height: 400px; /* Примерно намаляване на височината на снимката */
    overflow: hidden; /* Скрива част от снимката, ако тя е по-голяма от контейнера */
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(40%);
    
}


.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 80%;
    font-size: large;
    font-size: 35px;
}
.text-1 {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    
    font-size: 22px;
}
.menu-container
{
    display: flex;
    max-width: 800px;
    margin: auto;
}
.menu-section {
    padding: 2em;
    text-align: center;
    color: antiquewhite;
}

h1{

    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 10px 20px;
    border-radius: 15px; 
    width: fit-content; 
    margin: 20px auto; 
}


.item-info {
    flex: 1;
}

.item-info h3 {
    margin-top: 0;
    
}

.price {
    font-weight: bold;
    margin-top: 5px;
    color: #555;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 10px 20px;
    border-radius: 15px; 
    width: fit-content; 
    margin: 20px auto; 
}

.image-1 {
    flex: 1;
    padding: 20px;
   
}

.image-1 img {
    width: 100%;
    height: auto;
}
footer{
    background-color: #553009;
    color: white;
    
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.footer-logo img {
    max-width: 100px;
}

.footer-text {
    max-width: 50%;
    text-align: center;
}

.footer-text p {
    margin: 0;
    line-height: 1.5;
}
.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-icons a img {
    width: 40px;
    height: 40px;
    filter: grayscale(100%);
}